<html>
{{#block "head"}}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#F36E21">
        <title>RIT Co-op</title>
        <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
        <link rel="stylesheet" type="text/css" href="/css/ritsignin.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/vendor/foundation.min.js"></script>
        <script src="/js/app.js"></script>
    </head>
{{/block}}
    <body>
{{#block "header"}}

{{/block}}

{{#block "body"}}

{{/block}}

{{#block "footer"}}
    <footer class="is-at-bottom">&copy; SWEN 344 - Pentigroup 2018</footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117964350-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117964350-1');
    </script>

{{/block}}
    </body>

</html>