{{! Single Co-op page }}
{{> signedin.hbs}}

{{#partial "body"}}
    <div class="container">

        <h3>Co-op at <span id="employerName">...</span></h3>
        <p>Start date: <span id="startDate">...</span></p>
        <p>End date: <span id="endDate">...</span></p>

        <h5>Work Report</h5>
        <div class="container" id="workReportDiv" style="width: 100%">
            <p><a id="formHider" onclick="toggleHidden()" href="#">Submit a work report</a></p>
            <!--form id="reportform" action="/student/coops/workreport" method="POST" style="display: none;"-->
            <div id="reportForm" class="hidden-item">
                <label for="review">Work report:</label>
                <textarea id="review" name="review" form="reviewform"></textarea>
                <input id="coopIDInput" type="hidden" name="coopID" value="{{ cid }}">
                <button class="button hollow">Submit</button>
            </div>
            <!--/form-->

            <h5 id="workReportStatus"></h5>

        </div>

        <h5>Student Evaluation</h5>
        <div class="container" style="width: 100%">
            <div id="eval">
                <a id="evalLink" href="#">Send this link to your manager at your co-op employer for evaluation.</a>
            </div>
        </div>

    </div>

    <script>
        function toggleHidden() {
            getById("reportForm").classList.toggle("hidden-item");
            getById("formHider").classList.toggle("hidden-item");
        }

        var cid = "{{ cid }}";
    </script>

    <script src="/js/coop.js"></script>

{{/partial}}

{{> base.hbs}}
