<html>
{{> head }}

{{> header }}

<h3>Co-op at {{ employer.name }} </h3>
<p>Start date:  {{ employer.startDate }} </p>
<p>End date: {{ employer.endDate }} </p>

<h5>Work Report</h5>
<p>
    {{#workReport}}{{workReport}}{{/workReport}}
    {{^workReport}}No work report has been completed for this co-op.{{/workReport}}
</p>

<h5>Student Evaluation</h5>
<p>
    {{#studentEvaluation}}{{studentEvaluation}}{{/studentEvaluation}}
    {{^studentEvaluation}}No student evaluation has been completed for this co-op.{{/studentEvaluation}}
</p>

{{> footer }}
</html>
