{{! Page for all Employers }}
{{> signedin.hbs}}

{{#partial "body"}}

<h3>Employers</h3>
<ul>
    {{#each employers}}
        <li><a href="/employers?id={{id}}">{{name}}</a></li>
    {{/each}}
</ul>

{{/partial}}

{{> base.hbs}}