{{! External Reviewer submit Student evaluation page }}

{{#partial "body"}}

    <div class="container">
        <h3>Evaluation of <span id="studentName">...</span></h3>
        <!-- AJAX to /api/v1/coops/{{ cid }}/eval/{{ token }} -->
        <form id="evalform" data-abide>
            <label for="evaluation">Evaluation:</label>
            <textarea required id="evaluation" name="evaluation" form="evalform"></textarea>
            <button class="button hollow" type="submit" >Submit</button>
        </form>
    </div>

    <h3 style="display: none">Submitted evaluation successfully!</h3>

    <script>
        $.get({
            url: "/api/v1/coops/" + {{ cid }},
            success: function(data) {
                //console.log(data);
                let coop = data[0];
                setStudentName(getById("studentName"),coop.student_uid);
            }
        });
    </script>
{{/partial}}

{{> base.hbs}}