{{! External Reviewer submit Student evaluation page }}
{{> signedin.hbs}}

{{#partial "body"}}

<h3>Submit an evaluation of a student:</h3>
<!-- AJAX to /api/v1/coops/{{ cid }}/eval/{{ token }} -->
<!--form id="evalform"-->
    <label for="evaluation">Evaluation:</label>
    <textarea id="evaluation" name="evaluation" form="evalform"></textarea>
    <input type="submit" value="Submit">
<!--/form-->

<h3 style="display: none">Submitted evaluation successfully!</h3>

{{/partial}}

{{> base.hbs}}