{{! External API hook-in : List Software Jobs from GitHub Jobs API }}
{{#block "jobs"}}
    <div class="container">
        <h5>Looking for a software company to work at?</h5>

        <ul style="list-style-type: none">
            {{#each jobs}}
                <li><a href={{url}}>{{company}} - {{title}}</a></li>
            {{/each}}
        </ul>
    </div>
{{/block}}