{{! Head section to be included on every page }}
<head>
    <title>RIT Co-op Review System</title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>