{{! Header to be included on every page }}
<div class="title-bar">
    <h1 class="title-bar-left">CO-OP PORTAL</h1>
    <input type="search" class="title-bar-right" style="max-width: 50rem;" placeholder="Search for Employers...">
</div>