{{! Header to be included on every page }}
<div class="title-bar">
    <h1 class="title-bar-left">CO-OP PORTAL</h1>
    <input type="search" class="title-bar-right" style="max-width: 50rem;" placeholder="Search for Employers...(in R2)">
    <img src="/img/betty-prof.jpg" class="title-bar-right" style="border-radius: 50%;
            max-width: 100px; height: auto; margin-left: 50px"/>
    <h3 style="margin-left: 10px; margin-right: 30px">Betty White</h3>
    <button class="button" onclick="">Log Out</button>
</div>