{{! Login page }}
{{#partial "body"}}

    <img src="/img/rit.jpg">

    <h1>RIT Co-op Review</h1>

    <form action="/" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>

{{/partial}}

{{> base.hbs}}