{{! Login page }}
{{#partial "body"}}

    <img src="/img/rit.jpg">

    <h1 class="top-bar">RIT Co-op Review</h1>

    {{#unless session}}
        {{#unless ghp}}
            <h3><a href="/login">Login with GitHub</a></h3>
        {{/unless}}
    {{/unless}}
    {{#if session}}
        {{#if ghp}}
            <script>window.location.replace("https://co-op-review.herokuapp.com/student")</script>
        {{/if}}
    {{/if}}

{{/partial}}

{{> base.hbs}}