<html>
{{> head }}

{{> header }}

{{^success}}
<h3>Submit an new co-op:</h3>
<form id="coopform" action="/student/coops/register" method="POST">
    <label for="employer">Employer:</label>
    <input type="text" id="employer" name="employer">
    <label for="startDate">Start date:</label>
    <input type="date" id="startDate" name="startDate">
    <label for="endDate">End date:</label>
    <input type="date" id="endDate" name="endDate">
    <input type="submit" value="Submit">
</form>
{{/success}}
{{#success}}
    <h3>Submitted new co-op successfully!</h3>
    <a href="/student/">Back to student home</a>
{{/success}}

{{> footer }}
</html>