{{#partial "header"}}

    <div class="title-bar">
        <h1 class="title-bar-left"><a href="./">CO-OP PORTAL</a></h1>
        <input type="search" class="title-bar-right" style="max-width: 50rem;" placeholder="Search for Employers...(in R2)">
        <img id="prof-icon" src="" class="title-bar-right" style="border-radius: 50%;
                max-width: 100px; height: auto; margin-left: 50px" alt="profile icon"/>
        <h3 id="prof-name" style="margin-left: 10px; margin-right: 30px">Placeholder</h3>
        <button class="button" onclick="">Log Out</button>
    </div>

{{/partial}}