{{#partial "header"}}

    <div class="title-bar">
        <img src="/img/rit-tiger-trans.png" alt="rit tiger logo" class="title-bar-left" style="max-width: 150px; margin-right: 15px;">
        <h1 class="title-bar-title"><a href="#">RIT CO-OP PORTAL</a></h1>
        <div id="userProfile">
            <img id="profileIcon" src="" class="title-bar-right" alt="profile icon"/>
            <h3 id="profileName">{{ student.name }}</h3>
            <a href="/"><button class="button">Log Out</button></a>
        </div>
    </div>

{{/partial}}