{{#partial "header"}}

    <div id="title-bar" class="title-bar" onclick="toggleMenu()">
        <div class="title-bar-left">
            <img id="menu-icon" src="/img/menu.png">
            <img id="title-tiger" src="/img/rit-tiger-trans.png" alt="rit tiger logo">
        </div>
        <h1 class="title-bar-title"><a href="#">RIT CO-OP PORTAL</a></h1>
        {{#if ghp}}
            <div id="userProfile" class="title-bar-right">
                <img id="profileIcon" src="{{ avatar_url }}" class="title-bar-right" alt="avatar"/>
                <h2 id="profileName">{{ name }}</h2>
                <a href="/">
                    <button class="button">Log Out</button>
                </a>
            </div>

        {{/if}}
    </div>
    {{#if ghp}}
        <div id="hiddenUserProfile" class="hidden-item">
            <h3 id="hiddenProfileName">{{ name }}</h3>
            <a href="/">
                <button id="hiddenLogout" class="button small">Log Out</button>
            </a>
        </div>
        <script>
            function toggleMenu() {
                if(window.outerWidth <= 420) {
                    getById("hiddenUserProfile").classList.toggle("hidden-item");
                }
            }
        </script>
    {{/if}}



{{/partial}}