{{! "Homepage" for Student }}
{{> signedin.hbs}}

{{#partial "body"}}

    <div class="container text-center">
        <h3 id="greeting">Welcome</h3>
        <p>Select a Co-op:</p>
        <ul id="coops">

        </ul>
        <p>Need to add a new co-op?</p>
        <p><a href="/coops/new/">Register a Co-op</a></p>

{{!> externalApiInfo.hbs }}

    </div>
    <script>var sid = "{{sid}}";</script>
    <script src="/js/student.js"></script>
{{/partial}}

{{> base.hbs}}

