{{! "Homepage" for Student }}
<html>
{{> head }}

{{> header }}

<h3>Welcome, {{ student.name }} </h3>
<p>Select a Co-op:</p>
<ul>
    {{#coops}}
        <li><a href="./student/coops?id={{id}}">Co-op at {{employer}}</a></li>
    {{/coops}}

    {{^coops}}<li>No co-ops were found.</li>{{/coops}}
</ul>
<p>Need to add a new co-op?</p>
<p><a href="./student/coops/register/">Register a Co-op</a></p>

{{> externalApiInfo }}
{{> footer }}
</html>
